@import "../../styles/variables.scss";

#app-image {
  .container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 10px;

    .image {
      opacity: 1;
      display: block;
      object-fit: cover;
      width: 250px;
      height: 250px;
      backface-visibility: hidden;
      border-radius: 4px;
    }

    .middle {
      transition: 2 ease;
      opacity: 0;
      text-align: center;
    }

    &:hover .image {
      opacity: 0.6;
      filter: blur(2px);
    }

    &:hover .middle {
      opacity: 1;
    }

    .text {
      position: absolute;
      @extend .text-xl;
      font-size: 20px !important;
      color: white;
      text-decoration: none;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }
  }

  h2 {
    margin-top: 40px;
  }
}
