#menu-page {
  display: flex;
  flex-direction: column;

  .page-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: visible;

    .caseWrapper {
      margin-top: 10px;
    }
  }
}
